@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #e6c24f, #f08162);
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
/* CSS for Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #555;
}

.navbar-header {
  font-size: 20px;
  font-weight: bold;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/* CSS for Notes Container */
.notes {
  display: flex;
}

/* CSS for Notes Sidebar */
.noteSidebar {
  flex: 1;
  max-width: 250px;
  background-color: black;
  color: white;
  padding: 20px;
  border-right: 1px solid white;
  overflow-y: auto;
}
.notesWrapper {
  max-height: 400px;
}

.noteSidebar ul {
  list-style-type: none;
  padding: 0;
}

.note-title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

.note-title:hover {
  color: #6c63ff;
}

/* CSS for Note Content */
.noteContent {
  flex: 1;
  background-color: white;
  color: black;
  padding: 20px;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  font-weight: bold;
}

.form-control input,
.form-control textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control textarea {
  resize: none;
  height: 150px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-del {
  background: #ff0000;
}

.btn-block {
  display: block;
  width: 100%;
}
